
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(194, 162, 162);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(130, 112, 112);
  }
  h3{
      text-align: center;
      background-color:rgb(194, 162, 162) ;
      
  }
  h2{
      text-align: center;
      margin: 100px;
  }
h5{
    text-align: center;
    margin: 50px;
}
h1{
  text-align: center;
  padding: 50px;
}
.coloumn{
  float:left;
  margin: 70px 0;
}