h4{
    color: black;
    padding-left: 4px;
    background-color: antiquewhite;
}
h2{
    background-color: aliceblue;
}
.image{
    margin-left: 50px;
    height: 20%;
    padding-left: 50px;
    width: 100px;
}
h1{
    background-color: rgb(194, 162, 162);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(194, 162, 162);
}

.nav{
  float: left;
}

.nav a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav a:hover {
  background-color: rgb(130, 112, 112);
}